:root {
  --select-width: 150px;
}
.option {
  margin-top: 50px;
}
.block {
  position: relative;
}
button.del-btn {
  position: absolute;
  left: var(--select-width);
  top: 0;
}
#result {
  position: absolute;
  top: -20px;
}
.children {
  margin-left: 20px;
}
.option select {
  width: var(--select-width);
}
.argument select {
  width: 60px;
}
